/* Opgave 1 */

/* Opgave 2 */
#red{
    color: red;
}

#blue {
    color: dodgerblue
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

/* Opgave 3 */
.color-title {
    font-weight: normal;
}

/* Opgave 4 */
img {
width: 200px;
height: 200px;
}

